@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
$primary-color: #000;
$secondary-color: #fff;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.section-2{
    min-height: 100vh;
    width: 100%;
    background-color: $primary-color;
    background-image: url(https://i.pinimg.com/originals/9b/b0/26/9bb026a1d486b5c6a801322f1ec3edb5.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40%;
    color: $secondary-color;
    padding: 0 8%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.para1{
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 2.5px;
    line-height: 40px;
}
.para2{
    font-size: 50px;
    font-weight: 700;
    letter-spacing: 5px;
    line-height: 90px;
    text-transform: uppercase;
    -webkit-bok-reflect: blow 1px linear-gradient(transparent, #0004);
    animation: animate 5s linear infinite;
}
@keyframes animate{
    92%{
        color: rgb(0, 162, 255);
        text-shadow: none;
    }
    100%{
        color: rgb(0, 162, 255);
        text-shadow: 0 0 10px rgb(0, 162, 255),
        0 0 20px rgb(0, 162, 255),
        0 0 40px rgb(0, 162, 255),
        0 0 80px rgb(0, 162, 255),
        0 0 160px rgb(0, 162, 255);
    }
}
.para3{
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 2.5px;
    line-height: 40px;
}